mixin head(title)
  head
     meta(charset='utf-8')
     title=title
     //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]
     //<base href="/">
     meta(name="viewport", contnt="width-device-width, initial-scale=1, maximum-scale=1")
     meta(name="description", content="")
     link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")

  