mixin navbar()
    nav.navbar-expand.navbar-light.bg-light
      a(href="/", aria-label="Golden Goose").navbar-brand.mr-0
      .mr-md-2
        //img(src="/images/mbuli.jpg", width="20", height="20", class="img img-responsive")
      .collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/") Home 
        li.nav-item
          a.nav-link(href="/leads") Leads